@model List<OnlineSeller.Models.CartItem>

@{
    double total = Model.Sum(item => (double) (item.Product.price.GetValueOrDefault(0)*item.Quantity));
}
<div class="cart">
    <p>
        Welcome to our Online Store! <span>Cart:</span><div id="dd" class="wrapper-dropdown-2">
            @Model.Sum(x=>x.Quantity) item(s) - Total : @total.ToString("N0") VNĐ
            <ul class="dropdown">
                <li>
                    <div class="section group">
                        @if (Model.Count > 0)
                        {
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>Product ID</td>
                                        <td>Name</td>
                                        <td>Image</td>
                                        <td>Quantity</td>
                                        <td>Price</td>
                                        <td>Total</td>
                                    </tr>
                                </thead>
                                <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Product.ID</td>
                                        <td>@item.Product.Name</td>
                                        <td><img src="@item.Product.Img" width="100"/></td>
                                        <td>@item.Quantity</td>
                                        <td>@item.Product.price.GetValueOrDefault(0).ToString("N0")</td>
                                        <td>@((item.Product.price.GetValueOrDefault(0)*item.Quantity).ToString("N0"))</td>
                                    </tr>
                                }

                                </tbody>
                            </table>
                        }
                        
                    </div>
                </li>
            </ul>
        </div>
    </p>
</div>

