@using PagedList.Mvc
@model PagedList.IPagedList<Model.EF.Product>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var category = (Model.EF.ProductCat)ViewBag.Category;
    ViewBag.Title =  category.Name;
}


<div class="content">
    <div class="content_top">
        <div class="heading">
            <h3>@category.Name</h3>
        </div>
        <div class="see">
            <p><a href="/product">View all Products</a></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="section group">
        @foreach (var item in Model)
        {
            var url = "/detail/" + item.MetaTitle + "-" + item.ID;
            <div class="grid_1_of_4 images_1_of_4">
                <a href="@url"><img src="@item.Img" alt="@item.Name" /></a>
                <h2>@item.Name</h2>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">@(item.price.HasValue ? item.price.Value.ToString("N0") : "Liên hệ")</span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="/add-to-cart?productId=@item.ID&quantity=1">Add To Cart</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        }
        <div class="clear"></div>
        <!--Pagination-->
        @Html.PagedListPager(Model, page => Url.Action("Category","Product", new {page = page}))

        <!--Pagination-->

        @*<div class="paging">
            @if (ViewBag.TotalPage > 1)
            {
                var pageDisplay = (int)(ViewBag.MaxPage);
                int totalPage = (int)ViewBag.TotalPage;
                int currentPage = (int)ViewBag.Page;

                var startPageIndex = Math.Max(1, currentPage - pageDisplay / 2);
                var endPageIndex = Math.Min(totalPage, currentPage + pageDisplay / 2);

                var link = "product" + category.MetaTitle + "-" + category.ID;

                <nav>
                    <ul class="pagination">
                        @if (currentPage > ViewBag.First)
                        {
                            <li><a href="@link?page=@ViewBag.First" title="Trang đầu" class="first"><i class="fa fa-angle-double-left"></i></a></li>
                            <li>
                                <a href="@link?page=@ViewBag.Prev" title="Trang trước" class="prev"><i class="fa fa-angle-left"></i></a>
                            </li>

                        }
                        @for (int i = startPageIndex; i <= endPageIndex; i++)
                        {
                            if (currentPage == i)
                            {

                                <li> <a href="@link?page=@i" class="active" title="Trang @i">@i</a></li>
                            }
                            else
                            {
                                <li><a href="@link?page=@i" title="Page @i" class="pos">@i</a></li>
                            }
                        }
                        @if (currentPage < totalPage)
                        {
                            <li><a href="@link?page=@ViewBag.Next" class="next" title="Next Page"><i class="fa fa-angle-right"></i></a></li>
                            <li><a href="@link?page=@ViewBag.Last" class="last" title="Last Page"><i class="fa fa-angle-double-right"></i></a></li>
                        }

                    </ul>
                </nav>
            }
            else
            {
                <span></span>
            }
        </div>*@

    </div>
</div>
